.todoItemContainer{
  padding: 10px 20px;
  border: 1px lightgray solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  word-break: break-all;
}

.todoItemText {
  margin-right: 10px;
}

.todoItemText:hover {
  cursor: pointer;
}

.button:hover{
  color: gray;
  cursor: pointer;
}

.buttonContainer{
  display: flex;
  gap: 10px;
}

.textarea{
  width: 450px;
  height: 60px;
  resize: none;
}