.donePageContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  margin-top: 40px;
}

.doneListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}