.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100%;
}

.appName{
  font-size: 25px;
  color: white;
  font-family: Tahoma, sans-serif;
}