.navigationList {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigationList a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.navigationList a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}